body {
  margin:0;
  padding:0;
}

#content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* Text styles*/

h1 {
  font-family: news-cycle, sans-serif;
  font-size: 2.8em;
  font-style: italic;
  line-height: 1.2;
}

.jumbotron h1 {
  color: #660000;
}

p {
  font-family: news-cycle, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}




/*THINGS TO FIGURE OUT LATER*/

/* change the navbar background color - not working */
.navbar-custom {
    background-color: #4f4e4e;
}

/* page topper - not working */
