body {
  margin:0;
  padding:0;
}

#content {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

/* Navbar */
.bg-gray {
  background-color: #4f4e4e;
}

.nav-font {
  font-family: 'news cycle', sans-serif;
}

/* Topper */
h1 {
  font-family: 'news cycle', sans-serif;
  font-size: 6em;
  font-style: bold;
  line-height: 1.2;
  color: #660000;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.jumbotron .lead {
  font-family: 'news cycle', sans-serif;
  font-size: 2.8em;
  text-align: center;
  letter-spacing: 3px;
}

.jumbotron {
  margin-bottom: 0;
}

.hr-top {
  width:61%;
}




/*Other attempts at circle icons
.circle-icon {
    background: #48A3DD;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}


.icon-background {
    color: #48A3DD;
}

.inline ul li {
  display: inline;
  text-align: center;
}

*/

/*Social icons*/
.contact {
  margin:50px auto;
  width:140px;
  text-align:center;
}

.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px;
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px;
	color:#FFFFFF;
}

.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
  color: white;
}

.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#48A3DD ;
	color:white;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));
}

.icon.social.en i {
	left:10.5px;
	top:10px;
}

.icon.social.tw i {
	left:11.5px;
}
.icon.social.in i {
	left:12px;
}


/* Text styles*/
.intro {
  font-family: 'news cycle', sans-serif;
  font-size: 1.2em;
  line-height: 2;
}

p {
  font-family: 'news cycle', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

#work {
  font-family: 'news cycle', sans-serif;
  font-size: 2em;
  color: #660000;
  text-align: center;
}

h2 {
  font-family: 'news cycle', sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  color: #660000;
  text-align: center;
}

h3 {
  font-family: 'news cycle', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color: #660000;
  text-align: center;
}

.job {
  font-family: 'news cycle', sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 2;
}

.years {
  font-family: 'news cycle', sans-sans-serif;
  font-size: 1em;
  line-height: 2;
}

a {
  color: #48A3DD;
}


/*Sections*/
.section {
  padding: 10px 0px 5px;
}

/*Photos and design elements*/
.previews {
  padding: 10px 0px 10px;
}

/*Footer*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4f4e4e;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 7px;
}

.footer i{
  color: #48A3DD;
}

/*Media query*/
@media screen and (max-width: 480px) {
    .kara {
        display:none;
    }
}
