body {
  margin:0;
  padding:0;
}

#content {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

/* Navbar */
.bg-gray {
  background-color: #4f4e4e;
}

.nav-font {
  font-family: 'news cycle', serif;
}

/* Text styles*/

h1 {
  font-family: 'news cycle', serif;
  font-size: 4em;
  font-style: bold;
  line-height: 1.2;
}

.jumbotron h1 {
  color: #660000;
  text-align: center;
}

.jumbotron .lead {
  text-align: center;
}

#work {
  font-family: 'news cycle', sans-serif;
  font-size: 2em;
  color: #660000;
  text-align: center;
}

h2 {
  font-family: 'news cycle', sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  color: #660000;
  text-align: center;
}

h3 {
  font-family: 'news cycle', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color: #660000;
  text-align: center;
}

p {
  font-family: 'news cycle', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: #48A3DD;
}



/*Sections*/
.section {
  padding: 10px 0px 10px;
}

/*Photos*/
.previews {
  padding: 10px 0px 10px;
}
