#content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#masthead {
  font-family: helvetica, sans-serif;
  font-size: 20px;
  color: purple;
}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 2.75em;
  font-style: italic;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 10px 200px 5px;
}

p {
  font-family: Georgia, serif;
  font-size: 1em;
  padding: 0px 200px;
}

.caption {
  font-family: Georgia, serif;
  font-size: .85em;
  padding: 12px 0px 15px;
}

#graphictitle {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0px;
}

#chatter {
  font-family: Georgia, serif;
  font-size: 16px;
  padding: 5px 0px;
}

blockquote {
  font-family: helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 0px 200px;
}

#readmore {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 200px 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
