/*Styles for my resume*/

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
}

/*banner name at top*/
#name {
  font-size: 3em;
  text-transform:uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*professional title*/
#title {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  font-weight: 600;
  text-align:center;
  margin: 20px 0px 0px;
}

/*section titles*/
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: #ffffff;
  font-weight: 400;
  margin: 20px 0px 10px;
  width: 70%;
  min-width: 300px;
}

/*job titles*/
.jobtitle {
  font-size: 1.5em;
  font-weight:600;
}

/*job organization -- are we supposed to leave the font-weight as is?*/
.organization {
  font-size: 1.25em;
  font-weight:400;
}

/*job dates*/
.date {
  font-size: 1em;
  font-weight:400;
  font-style: italic;
  margin: 2px 0px 0px;
}

/*job descriptions -- it said to leave the styling as is but I didn't have any styling for paragraph elements before*/
.description {
  margin: 10px 0px;
}

/*contact info, education and skills*/
.menu {
  font-size: 1em;
  margin: 0 auto;
  padding: 0px;
}
