.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Lato', sans-serif;
}


.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 180%;
}


img {
  width: 300px;
}

img.right {
  float: right;
}

img.left {
  float: left;
}

/*Teacher text*/
.teachername {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

.teacherjob {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  line-height: 115%;
  padding-bottom: 110px;
}

.chapter {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.64);
}

.btn-dark {
  background-color: rgba(0, 0, 0, 0.64);
  border: none;
  padding: 10px 20px;
  text-align: left;
}

.text-white {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  letter-spacing: .04em;
  word-spacing: .1em;
}

/* Color blocks */
.bk-yellow {
  background-color: #DBD443;
}

.bk-orange {
  background-color: #F58D44;
}

.bk-pink {
  background-color: #E082FF;
}

.bk-purple {
  background-color: #8A57F0;
}
.bk-blue {
  background-color: #3B62FC;
}

/* Collapsible */
.story {
  width: 80%;
  margin: 0 auto;
}

.story-text {
  margin-bottom: 80px;
}

/* Block quotes*/
blockquote {
  font-family: 'Lato', sans-serif;
  font-size: 2.1em;
  margin: 40px 200px 40px 0px;
}

blockquote.wide {
  margin: 40px 75px 40px 0px;
}

.quotebold {
  font-weight: 600;
}

.yellow {
  color: #DCC31D;
}

.orange {
  color: #F58D44
}

.pink {
  color: #E082FF;
}

.purple {
  color: #8A57F0;
}

.blue {
  color: #2E58FF;
}

.infographic {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 70px;
}


/*Read More*/
.line-yellow {
  background-color: #DCC31D;
  height: 3px;
}

.readmore {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}



/*Footer*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4f4e4e;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 7px;
}
